* {
  box-sizing: border-box;
}

.aselect {
  width: 280px;
  margin: 2rem 2rem 2rem 3rem;
  cursor: pointer;
}
.aselect .selector {
  border: 1px solid #e3e3e3;
  background: #F8F8F8;
  position: relative;
  z-index: 1;
}
.aselect .selector .arrow {
  position: absolute;
  right: 10px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #888;
  transform: rotateZ(0deg) translateY(0px);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
}
.aselect .selector .expanded {
  transform: rotateZ(180deg) translateY(2px);
}
.aselect .selector .label {
  display: block;
  padding: 12px;
  font-size: 16px;
  color: #888;
}
.aselect ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  position: absolute;
  z-index: 1;
  background: #fff;
}
.aselect li {
  padding: 12px;
  color: #666;
}
.aselect li:hover {
  color: white;
  background: #52bf82;
}
.aselect .current {
  background: #eaeaea;
}
.aselect .hidden {
  visibility: hidden;
}
.aselect .visible {
  visibility: visible;
}

.hfs-listed-title {
  font-size: 18px;
  padding: 1rem;
  background: #2271b1;
  color: #FFF;
  margin-bottom: 2rem;
  max-width: 1000px;
}

.hfs_listed_cpts .hfs-inner .hfs-loaded-posts {
  background: #FFF;
  max-width: 1000px;
  border: 1px solid #b1b1b1;
}
.hfs_listed_cpts .hfs-inner .hfs-loaded-posts .hfs-post-type {
  display: flex;
  padding: 1rem;
  font-size: 16px;
}
.hfs_listed_cpts .hfs-inner .hfs-loaded-posts .hfs-post-type .hfs-check {
  margin-left: auto;
}
.hfs_listed_cpts .hfs-inner .hfs-loaded-posts .hfs-post-type:nth-of-type(odd) {
  background-color: #e3e3e3;
}
.hfs_listed_cpts .hfs-inner .hfs-no-posts {
  font-size: 16px;
}